@import "tailwindcss";
@import "./additional-styles/utility-patterns.css" layer(components);
@import "./additional-styles/theme.css";
@plugin "@tailwindcss/forms";

@theme {
  --color-brand-pitch-black-50: #040302;
  --color-brand-pitch-black-100: #060504;
  --color-brand-pitch-black-200: #080706;
  --color-brand-pitch-black-300: #0a0807;
  --color-brand-pitch-black-400: #0a0902;
  --color-brand-pitch-black-500: #0a0903;
  --color-brand-pitch-black-600: #0e0c07;
  --color-brand-pitch-black-700: #100e09;
  --color-brand-pitch-black-800: #12100b;
  --color-brand-pitch-black-900: #14120d;
  --color-brand-pitch-black-950: #16140f;

  --color-brand-carbon-black-50: #0d0d0d;
  --color-brand-carbon-black-100: #111111;
  --color-brand-carbon-black-200: #141414;
  --color-brand-carbon-black-300: #171717;
  --color-brand-carbon-black-400: #1a1a1a;
  --color-brand-carbon-black-500: #1a1a1a;
  --color-brand-carbon-black-600: #1f1f1f;
  --color-brand-carbon-black-700: #232323;
  --color-brand-carbon-black-800: #272727;
  --color-brand-carbon-black-900: #2b2b2b;
  --color-brand-carbon-black-950: #2f2f2f;

  --color-brand-alabaster-grey-50: #f9f9f9;
  --color-brand-alabaster-grey-100: #f4f4f4;
  --color-brand-alabaster-grey-200: #ececec;
  --color-brand-alabaster-grey-300: #e4e4e4;
  --color-brand-alabaster-grey-400: #e8e8e8;
  --color-brand-alabaster-grey-500: #eaeaea;
  --color-brand-alabaster-grey-600: #d3d3d3;
  --color-brand-alabaster-grey-700: #c9c9c9;
  --color-brand-alabaster-grey-800: #bfbfbf;
  --color-brand-alabaster-grey-900: #b4b4b4;
  --color-brand-alabaster-grey-950: #aaaaaa;

  --color-brand-brick-red-50: #fae6eb;
  --color-brand-brick-red-100: #f4cad1;
  --color-brand-brick-red-200: #eaa1aa;
  --color-brand-brick-red-300: #e07982;
  --color-brand-brick-red-400: #d6505a;
  --color-brand-brick-red-500: #bb0a21;
  --color-brand-brick-red-600: #9e081b;
  --color-brand-brick-red-700: #810716;
  --color-brand-brick-red-800: #640511;
  --color-brand-brick-red-900: #47030c;
  --color-brand-brick-red-950: #2a0207;

  --color-brand-light-green-50: #e6ffe6;
  --color-brand-light-green-100: #ccffcc;
  --color-brand-light-green-200: #b3ffb3;
  --color-brand-light-green-300: #99ff99;
  --color-brand-light-green-400: #80ff80;
  --color-brand-light-green-500: #80ef80;
  --color-brand-light-green-600: #4dc04d;
  --color-brand-light-green-700: #339933;
  --color-brand-light-green-800: #267026;
  --color-brand-light-green-900: #195019;
  --color-brand-light-green-950: #0c280c;

  --font-inter: var(--font-inter), sans-serif;
  --font-nacelle: var(--font-nacelle), sans-serif;

  --text-xs: 0.8125rem;
  --text-xs--line-height: 1.5384;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.5715;
  --text-base: 0.9375rem;
  --text-base--line-height: 1.5333;
  --text-base--letter-spacing: -0.0125em;
  --text-lg: 1.125rem;
  --text-lg--line-height: 1.5;
  --text-lg--letter-spacing: -0.0125em;
  --text-xl: 1.25rem;
  --text-xl--line-height: 1.5;
  --text-xl--letter-spacing: -0.0125em;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 1.415;
  --text-2xl--letter-spacing: -0.0268em;
  --text-3xl: 1.75rem;
  --text-3xl--line-height: 1.3571;
  --text-3xl--letter-spacing: -0.0268em;
  --text-4xl: 2.5rem;
  --text-4xl--line-height: 1.1;
  --text-4xl--letter-spacing: -0.0268em;
  --text-5xl: 3.5rem;
  --text-5xl--line-height: 1;
  --text-5xl--letter-spacing: -0.0268em;
  --text-6xl: 4rem;
  --text-6xl--line-height: 1;
  --text-6xl--letter-spacing: -0.0268em;
  --text-7xl: 4.5rem;
  --text-7xl--line-height: 1;
  --text-7xl--letter-spacing: -0.0268em;

  --animate-shine: shine 5s ease-in-out 500ms infinite;
  --animate-gradient: gradient 6s linear infinite;

  @keyframes shine {
    0% {
      top: 0;
      transform: scaleY(5);
      opacity: 0;
    }
    10% {
      opacity: 0.8;
    }
    20% {
      top: 100%;
      transform: scaleY(10);
      opacity: 0;
    }
    100% {
      top: 100%;
      transform: scaleY(1);
      opacity: 0;
    }
  }
  @keyframes gradient {
    0%,
    100% {
      background-position: 0 center;
    }
    50% {
      background-position: 100% center;
    }
  }
}

@font-face {
  font-family: "Nacelle";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("public/fonts/nacelle-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Nacelle";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("public/fonts/nacelle-italic.woff2") format("woff2");
}

@font-face {
  font-family: "Nacelle";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("public/fonts/nacelle-semibold.woff2") format("woff2");
}

@font-face {
  font-family: "Nacelle";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("public/fonts/nacelle-semibolditalic.woff2") format("woff2");
}

html,
body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  background-color: #0a0903;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-brand-alabaster-grey-200, currentColor);
  }
}
